.lun{
  /*margin-top: 7rem;*/
  border-top:1px solid #262629;
  width: 90%;
  margin-left: 5%;
  height: 8rem;
  clear: both;

}
.lun .u1,.u3{
  width: 33%;
  float: left;
  height: 5rem;
  /*margin-top: 5rem;*/

  /*border: 1px solid #ffffff;*/
}
.lun .u2{
  width: 33%;
  float: left;
  height: 5rem;
  margin-left: 0.5%;

}

.li ul .l1{
  text-align: center;
  width: 0.2rem;
  height: 0.4rem;
  background-color: #FFCC00;
  position: absolute;
  /*left: 10%;*/
  /*top:50%;*/
  margin-top: 2rem;
  margin-left: 3rem;
  transform-origin: 0 2.5rem;
}
.li ul .l3{
  position: absolute;
  height: 2rem;
  width: 3rem;
  color: #ffffff;
  margin-top: 3.75rem;
  margin-left: 1.5rem;
  text-align: center;
  font-size: 0.8rem;
}
.li ul .l2{
  text-align: center;
  width: 0.2rem;
  height: 0.4rem;
  background-color: #434346;
  /*background-color: #000000;*/
  position: absolute;
  /*left: 10%;*/
  /*top:50%;*/
  margin-top: 2rem;
  margin-left: 3rem;
  transform-origin: 0 2.5rem;
  z-index:1;
}
.li ul .l4{
  position: absolute;
  height: 2rem;
  width: 3rem;
  color: #ffffff;
  margin-top: 3.25rem;
  margin-left: 1.5rem;
  text-align: center;
  font-size: 0.8rem;
}
.val1{
  border-bottom: 1px solid #464648;
}
.n{
  color: #6F6F71;
}
.ma{
  margin-top: 1rem;
  width: 35%;
  float: left;
  font-size: 0.8rem;
  color: #767677;
  text-align: center;
}
.npm{
  margin-top: 1rem;
  width: 30%;
  float: left;
  font-size: 0.8rem;
  color: #767677;
  text-align: center;
}
.xpm{
  margin-top: 1rem;
  width: 35%;
  float: left;
  font-size: 0.8rem;
  color: #767677;
  text-align: center;
}
.v1{
  color: #F8C702;
  font-size: 1rem;
  margin-left: 0.5rem;
}
